{% extends 'dtx/base_admin_page.html' %}
{% block main_area %}

<div class="wrap" style="background-color: white; border: solid 1px; width: 1720px; height: 950px; margin-left: 200px;">

  <table class="table-bordered" style="margin-top: 15px; margin-left: 40px;">
    <tr>
      <th colspan="6">사이트알림</th>
    </tr>
    <tr>
      <td>금일 가입자</td>
      <td style="color: red;">215</td>
      <td>환불요청</td>
      <td style="color: red;">6</td>
      <td>답변대기문의</td>
      <td style="color: red;">11</td>
    </tr>
    <tr>
      <td>신규 게시글 수</td>
      <td style="color: red;">521</td>
      <td>입금대기</td>
      <td style="color: red;">40</td>
      <td>상담요청</td>
      <td style="color: red;">15</td>
    </tr>
  </table>

  <div class="col-sm-5" style="float:left; margin-left: 20px; margin-top: 15px;">
    <div class="row" style="margin-left: 5px; width: 115%; height: 430px; border: solid 1px;">
      <h5 style="margin-top: 10px;">신규 가입자 현항</h5>
      <img src="/static/images/admin_gra.jpg" class="img-fluid" style="height: 370px;">
    </div>
  </div>

  <div class="col-sm-5" style="width:47%; float:left; margin-left: 80px; margin-top: 15px;">
    <div class="row" style="margin-left: 5px; width: 122%; height: 430px; border: solid 1px;">
      <h5 style="margin-top: 10px;">일자별 요약</h5>
      <table class="table-bordered" style="margin-bottom: 10px; margin-top: -120px; margin-left: 11px; width: 97%;">
        <tr>
          <th>일자</th>
          <th>가입자수</th>
          <th>게시글</th>
          <th>문의</th>
          <th>상담요청</th>
          <th>환불</th>
          <th>입금대기</th>
        </tr>
        <tr>
          <td>2023.04.05</td>
          <td>557</td>
          <td>328</td>
          <td>6</td>
          <td>28</td>
          <td>1</td>
          <td>54</td>
        </tr>
        <tr>
          <td>2023.04.05</td>
          <td>500</td>
          <td>53</td>
          <td>15</td>
          <td>7</td>
          <td>9</td>
          <td>84</td>
        </tr>
        <tr>
          <td>2023.04.05</td>
          <td>215</td>
          <td>289</td>
          <td>7</td>
          <td>100</td>
          <td>8</td>
          <td>20</td>
        </tr>
        <tr>
          <td>2023.04.05</td>
          <td>300</td>
          <td>100</td>
          <td>9</td>
          <td>24</td>
          <td>4</td>
          <td>15</td>
        </tr>
        <tr>
          <td>2023.04.05</td>
          <td>427</td>
          <td>521</td>
          <td>40</td>
          <td>15</td>
          <td>6</td>
          <td>17</td>
        </tr>

      </table>
    </div>
  </div>

  <div class="col-sm-5" style="float:left; margin-left: 20px; margin-top: 15px;">
    <div class="row" style="margin-left: 5px; width: 115%; height: 330px; border: solid 1px;">
      <h5 style="margin-top: 10px;">지역별 상담 현황</h5>

    </div>
  </div>

  <div class="col-sm-5" style="width:47%; float:left; margin-left: 80px; margin-top: 15px;">
    <div class="row" style="margin-left: 5px; width: 122%; height: 330px; border: solid 1px;">
      <h5 style="margin-top: 10px;">사업적 성과 지표 현황</h5>
    </div>
  </div>

</div>

{% endblock %}